.search-button{
    background-color: #019AFC;
    border-radius: 5%;
    color: white;
    max-width: 70px;
    margin-right: 10px;
    font-size: 12px;
}

.header-title h5{
    padding-left: 12px;
}

.header-title h1{
    font-size: 36px;
    padding-left: 10px;
}

.header-search {
    font-size: 12px;
    background-color: #F1F1F1;
    border: none;
    max-width: 215px !important;
}