.image-section-container {
    background-color: #F1F1F1;
    border-top: 5px solid #E9E9E9;
    border-bottom: 5px solid #E9E9E9;
    padding: 10px;
    margin:40px 0px;
    display: flex;
}

.read-more-button {
    background-color: #019AFC;
    border-radius: 5%;
    color: white;
    font-size: 23px;
}

.image-section-container .left-side {
    padding: 40px;
    flex:50%;
}

.image-section-container .left-side h1, h5{
    margin-bottom: 30px;
}   

.image-section-container .right-side {
    margin:auto;
    flex:50%;
}

.image-section-container .right-side img{
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .image-section-container {
        flex-direction: column;
    }
  }
