.contact-banner-container {
    padding: 10px;
    border-left: 12px solid #019AFC;
    background-color: #F1F1F1;
    display: flex;
    margin: 35px 20px;
}

.contact-banner-container .left-side {
    flex:70%;
    padding: 40px;
}

.contact-banner-container .right-side {
    flex:30%;
    padding: 40px;
}

.contact-banner-container .read-more-button {
    background-color: #019AFC;
    border-radius: 5%;
    color: white;
    font-size: 23px;
}