.contact-us-container {
    margin-right: 20px;
    color:white;
    flex:25%;
    font-size: 12px;
}

.contact-us-container h4 {
    font-size: 12px;
}

.contact-us-container input {
    font-size: 13px;
    background-color: #333333;
    border: none;
}

.area {
    font-size: 13px;
    background-color: #333333;
    border: none;
}

.form-error {
    color: red;
    font-size: 10px;
}