.nav-list{
    padding: 0px 0px;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    float: left;
    margin-left: 0px;
    
}

.nav-list li a {
    display: block;
    color: black;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 4px solid rgb(219, 219, 219);
}

.nav-list li a:hover {
    color: rgb(175, 168, 168);
    border-bottom: 4px solid #019AFC;
}